@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');


:root{
    --ff-primary-body: 'Poppins', sans-serif;
    --ff-primary-head: 'Orbitron', sans-serif;
    --ff-secondary-head: 'Oxanium', cursive;
    --ff-tertiary-cursive: 'Satisfy', cursive;
    --primary-color: #7f0c43;
    --main-white-color: #FFFFFF;
    --main-black-color: #000000;
}


#hsl-alumni{
    min-height: 50vh;
    margin-bottom: 4rem;
}

.hsl-alumni-head{
    font-family: var(--ff-primary-head);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6rem 0 3rem;
    margin: 0 auto;
    min-height: 200px;
    color: var(--main-white-color);
}

.hsl-alumni-head h1{
    font-size: 3rem;
}

.hsl-alumni-content{
    justify-content: flex-start;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 200px;
    grid-auto-flow: column;
    width: 100%;
    background-color: var(--primary-color);
    gap: 1rem;
    overflow-x: scroll;
    border-top: 2px solid var(--main-white-color);
    border-bottom: 2px solid var(--main-white-color);
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    border-radius: 10px;
    transition: scroll-margin-left 1000s ease-in-out;
    margin: 10px 0;
}

.hsl-alumni-content::-webkit-scrollbar {
    display: none;
}

.hsl-alumni-slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 290px;
    position: relative;
    overflow-y: hidden;
    border-radius: 15px;

}

.hsl-alumni-slider-first{
    margin-left: 2rem;
}

.hsl-alumni-slider-last{
    margin-right: 5rem;
}

.hsl-alumni-slider-img{
    height: 280px;
    height: inherit;
    position: absolute;
}

.hsl-alumni-slider-img img{
    height: 100%;
    border-radius: 15px;
}

.hsl-alumni-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: opacity ease-in-out 1000ms;
    color: var(--main-white-color);
    text-align: center;
    gap: 1.5rem;
    opacity: 0;
}

.hsl-alumni-overlay > div{
    transform: translateY(100%);
    transition: transform ease-in-out 750ms;
}

.hsl-alumni-overlay:hover > div{
    transform: translateY(0);
}

.hsl-alumni-overlay:hover{
    opacity: 1;
}

.hsl-alumni-overlay-header{
    line-height: 1.5;
    margin-bottom: 1rem;
}

.hsl-alumni-overlay-text h2{
    font-family: var(--ff-primary-head);
    color: rgb(207, 192, 192);
    font-size: 1.25rem;
}

.hsl-alumni-overlay-text h3{
    font-family: var(--ff-primary-head);
    color: #d48caf;
    font-size: 1rem;
}

.hsl-alumni-slider-controls{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.hsl-alumni-slider{
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-white-color);
    font-weight: 800;
    padding: 0 10px 7px;
    transition: background-color ease-in-out 350ms;
    border-radius: 50%;
}

.hsl-alumni-slider:hover{
    background-color: var(--main-black-color);
}

.hsl-alumni-details{
    display: flex;
    width: 100%;
    justify-content: center;
    color: var(--main-white-color);
    overflow-y: hidden;
    height: 25px;
}

.hsl-alumni-details p{
    text-align: center;
    color: var(--main-white-color);
    z-index: 1;
    animation: clickImage ease-in-out 3500ms infinite;
}

.hsl-alumni-overlay-text p{
    padding: 0 0.5rem;
    line-height: 1.85;
    font-size: 0.85rem;
    color: var(--main-white-color);
}


@keyframes clickImage{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}

@media only screen and (min-width:900px){
    .hsl-alumni-slider-container{
        height: 380px;
        width: 380px;
    }

    .hsl-alumni-slider-first{
        margin-left: 2rem;
    }

    .hsl-alumni-slider-last{
        margin-right: 5rem;
    }

    .hsl-alumni-slider-img{
        height: 370px;
    }

    .hsl-alumni-overlay {
        padding: 1.5rem;
    }
        
    .hsl-alumni-overlay-header{
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    .hsl-alumni-overlay-text h2{
        font-size: 1.5rem;
    }

    .hsl-alumni-overlay-text h3{
        font-size: 1.25rem;
    }

    .hsl-alumni-overlay-text p{
        line-height: 1.85;
        font-size: 1rem;
    }

    .hsl-alumni-slider-controls{
        width: 150px;
    }

    .hsl-alumni-slider{
        font-size: 2rem;
        font-weight: 800;
        padding: 0 10px 7px;
    }

    .hsl-alumni-details{
        display: none;
    }

}