@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Satisfy&family=Supermercado+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap");
:root {
  --ff-primary-body: 'Poppins', sans-serif;
  --ff-primary-head: 'Orbitron', sans-serif;
  --ff-secondary-head: 'Oxanium', cursive;
  --ff-tertiary-cursive: 'Satisfy', cursive;
  --primary-color: #7f0c43;
  --main-white-color: #FFFFFF;
  --main-black-color: #000000;
}

#mobile-menu {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#mobile-menu.fa-close {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  -webkit-transition: color, background-color, -webkit-transform;
  transition: color, background-color, -webkit-transform;
  transition: transform, color, background-color;
  transition: transform, color, background-color, -webkit-transform;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

#mobile-menu.fa-close:hover {
  background-color: var(--main-white-color);
  color: var(--main-black-color);
}

i.fa-bars {
  position: fixed;
  z-index: 1000;
  font-size: 1.75rem;
  font-size: 1.55rem;
  right: 20px;
  top: 32px;
  color: var(--main-white-color);
  padding: 10px 12px;
  margin-left: -20px;
  background-color: var(--main-black-color);
  border-radius: 50%;
  cursor: pointer;
}

i.fa-solid {
  -webkit-box-shadow: 0px 1px 5px #cccccc;
          box-shadow: 0px 1px 5px #cccccc;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: background-color 1s linear, color 1s linear, -webkit-box-shadow 1s linear, -webkit-transform 1s linear;
  transition: background-color 1s linear, color 1s linear, -webkit-box-shadow 1s linear, -webkit-transform 1s linear;
  transition: background-color 1s linear, color 1s linear, box-shadow 1s linear, transform 1s linear;
  transition: background-color 1s linear, color 1s linear, box-shadow 1s linear, transform 1s linear, -webkit-box-shadow 1s linear, -webkit-transform 1s linear;
}

i.fa-solid:hover {
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  -webkit-box-shadow: 0px 1px 5px var(--main-black-color);
          box-shadow: 0px 1px 5px var(--main-black-color);
  -webkit-transform: scale(1);
          transform: scale(1);
}

#mobile-menu {
  -webkit-transition: -webkit-transform 750ms ease-in-out;
  transition: -webkit-transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out;
  transition: transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

nav {
  top: 15px;
  position: fixed;
  display: block;
  right: 3.125rem;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  z-index: 999;
  height: 100px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  display: none;
}

.hsl-plus__sub-menu {
  -webkit-transform: translateY(-300px) rotateX(90deg);
          transform: translateY(-300px) rotateX(90deg);
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -999;
  -webkit-transition: all 1s ease-in-out, z-index 1s linear, opacity 1s linear, -webkit-transform 1s linear;
  transition: all 1s ease-in-out, z-index 1s linear, opacity 1s linear, -webkit-transform 1s linear;
  transition: all 1s ease-in-out, transform 1s linear, z-index 1s linear, opacity 1s linear;
  transition: all 1s ease-in-out, transform 1s linear, z-index 1s linear, opacity 1s linear, -webkit-transform 1s linear;
}

.hsl-plus__sub-menu ul {
  top: 20px;
  position: absolute;
}

.hsl-plus__sub-menu li:first-child {
  padding-top: 10px;
}

.hsl-plus__sub-menu li:last-child {
  margin-top: -15px;
  margin-bottom: 1px;
}

.hsl-plus__sub-menu ul li {
  margin-top: -10px;
  display: inline-block;
  min-width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li:hover .hsl-plus__sub-menu,
nav ul li:focus-within .hsl-plus__sub-menu,
nav ul li:focus .hsl-plus__sub-menu {
  opacity: 1;
  -webkit-transform: translateY(0px) rotateX(0deg);
          transform: translateY(0px) rotateX(0deg);
  z-index: 999;
}

nav.side-nav {
  width: auto;
  right: 6.8rem;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: translateX(50%) rotate(90deg) translateX(45%);
          transform: translateX(50%) rotate(90deg) translateX(45%);
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

nav.show {
  display: block;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

.nav-list {
  width: 200%;
}

nav ul li a.nav-back {
  background-color: var(--main-black-color);
  border: 1px solid var(--main-white-color);
}

nav ul li {
  display: inline-block;
  margin: 1.5625rem 0.3125rem;
  margin: 1.5625rem 0;
}

nav ul li a {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--main-white-color);
  color: var(--main-white-color);
  display: inline;
  padding: 10px;
  background-color: var(--main-black-color);
  -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

nav ul li a.active {
  color: var(--main-white-color);
  background-color: rgba(0, 0, 0, 0.736);
  background-color: var(--primary-color);
  padding: 10px 15px;
}

nav ul li a:hover {
  color: var(--main-white-color);
  background-color: rgba(41, 54, 170, 0.836);
  padding: 10px 15px;
}

@media screen and (min-width: 750px) {
  #mobile-menu,
  #mobile-menu.fa-close {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
  }
  .nav-list {
    width: 100%;
  }
  nav.side-nav {
    width: auto;
    right: 6.8rem;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: translateX(50%) rotate(90deg) translateX(45%);
            transform: translateX(50%) rotate(90deg) translateX(45%);
    -webkit-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
  }
  nav ul li {
    display: inline-block;
    margin: 1.5625rem 0.3125rem;
  }
}
